.main{
    background-color: #17181c;

}
.products_container{
 display: grid;
    height: 350px;
}
.products_card{
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 20px 20px 50px;   
    gap: 20px;
    height: 300px;
}
.products{
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;


}
.side{
    display: grid;
    grid-template-columns: 1fr 1080px 1fr;

}
.title{
    display: grid;
    grid-column: 2/3;
    color: #c6c6d0;
    

}
.product_title,.product_price{
    color: #c6c6d0;
    font-size: 15px;
    font-weight: bold;
}

/* mode task */
.mode_task_light{
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
}
.mode_task_dark{
    background-color: #333;
    color: #c6c6d0;
    padding: 20px;
    border-radius: 5px;
}
.Categories{
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.users{
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.add_to_cart{
    background-color: #24292d;
    color: #c6c6d0;
    border: none;
    padding: 10px;  
    cursor: pointer;
}
.add_to_cart:hover{
    background-color: #3a3f47;
}
.cart{
    display: grid;
    grid-column: 3/4;
    justify-content: end;
    padding: 20px;
}
.cart_icon{
    height: 50px;
    width: 50px;
    color: #c6c6d0;
}